@model List<CSITDemo.Models.StudentModel>
<table class="table table-striped">
    <thead>
        <tr>
            <td>name</td>
            <td>address</td>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.name</td>
                <td>@Model.address</td>
            </tr>
    </tbody>
</table>
